 .left-panel{
  width:20%;
  height:100%;
  float:left;
  background-color:#a8acac;
 }
 
 .right-panel{
  width:80%;
  height:100%;
 }
 
 .right-nav-panel{
  width:100%;
 }
 
 .nav-button{
  width:9.5%;
 }
